[submodule "bundle/base16-vim"]
	path = bundle/base16-vim
	url = git://github.com/chriskempson/base16-vim.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/refheap.vim"]
	path = bundle/refheap.vim
	url = git://github.com/Raynes/refheap.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/TextObjectify"]
	path = bundle/TextObjectify
	url = git://github.com/paradigm/TextObjectify.git
[submodule "bundle/vim-classpath"]
	path = bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/vim-redl"]
	path = bundle/vim-redl
	url = git://github.com/dgrnbrg/vim-redl.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim2hs"]
	path = bundle/vim2hs
	url = https://github.com/dag/vim2hs.git
